/* Estilos para la página de inicio */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2021/02/30-mejores-heroes-ultimos-30-anos-2243371.jpg?itok=QBzXQlZU);
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li:hover{
  
  transition: 0.3s ease;
  display: inline-block;
  background-color:#4a0661;
  transition: 0.3s ease;
  border-radius: 0.5rem;
 
      
 }


main {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

main h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

section {
  display: flex;
  flex-wrap: wrap;
}

article {
  margin: 10px;
  padding: 10px;
  border: 1px solid #9f0404;
  border-radius: 5px;
  text-align: center;
  flex: 1 1 300px;
  color: white;
  background-color: #c00;
}

article h3 {
  font-size: 20px;
  color: white;
}

article img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

article p {
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
}

article a {
  display: block;
  background-color: #f33;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

article a:hover {
  background-color: #c00;
}

footer {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 14px;
}


.form-control-borderless {
  border: none;
  
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

