
Beauty_Time_Docs/Fase 2 - Desarrollo del Proyecto APT/Evidencias Proyecto/Evidencia de documentacion/Burndown_Chart_BT.xlsx
Beauty_Time_Docs/Fase 2 - Desarrollo del Proyecto APT/Evidencias Proyecto/Evidencia de documentacion/06_Planilla de Requerimientos Simplificado Beauty Time _ OK.xlsx
Beauty_Time_Docs/Fase 2 - Desarrollo del Proyecto APT/Evidencias Proyecto/Evidencia de documentacion/06_Planilla de Requerimientos Simplificado Beauty Time _ OK.xlsx
