{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="{{ csrf_token }}"> <!--Esto es para eliminar citas-->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/btnwsp.css' %}">

  {% block css %}
  {% endblock %}


<style>
.badge {
    position: absolute;
    top: -5px;   /* Ajusta según la posición deseada */
    right: -5px; /* Ajusta según la posición deseada */
    width: 20px; /* Ancho fijo para el badge */
    height: 20px; /* Alto fijo para el badge */
    background-color: red;
    color: white;
    border-radius: 50%; /* Hace el badge perfectamente redondo */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
}
  </style>



  <title>Beauty Time</title>
</head>

<body>
  {% url 'home' as home %}
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container justify-content-center">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/Beauty-Time.png' %}" alt="Logo" class="img-fluid" style="max-height: 60px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if request.path == home %} active {% endif %}" aria-current="page"
              href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Tienda
            </a>
            <ul class="dropdown-menu bg-secondary text-white" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-grey" href="{% url 'productos' %}">Productos</a></li>
              <li><a class="dropdown-item text-grey" href="{% url 'servicios' %}">Servicios</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'atencioncliente' %}">Atención al Cliente</a>
          </li>
          &nbsp;&nbsp;
          <li style="position: relative;">
              <a href="{% url 'carrito' %}" style="position: relative;">
                  <img src="{% static 'img/carrito_png.png' %}" width="30px" height="30px" alt="Carrito de Compras">
                  {% if cart_badge > 0 %}
                      <span class="badge">{{ cart_badge }}</span>
                  {% endif %}
              </a>
          </li>

          &nbsp;&nbsp;
          {% if request.user.is_authenticated %}
          <ul class="navbar-nav">
            <li class="nav-item dropdown" style="color:white">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="{{ user.picture.url }}" style="border-radius: 25px; background:white;" height="36" width="36"
                  alt="Avatar" />
                &nbsp;&nbsp;
                <strong style="text-decoration: underline;">{{ user.first_name|capfirst }}, bienvenido/a</strong>
              </a>
              <ul class="dropdown-menu bg-secondary text-white" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-grey" href="{% url 'perfil' %}">Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'misOrdenes' %}">Mis compras</a></li>

                <li><a class="dropdown-item" href="{% url 'calendario' %}">Calendario</a></li>
                {% if user.is_staff %}
                <li><a class="dropdown-item" href="{% url 'usuarios' %}">Gestión de Usuarios</a></li>
                <li><a class="dropdown-item" href="{% url 'inventario' %}">Gestión de Inventario</a></li>
                <a class="dropdown-item" href="{% url 'dashboard' %}">Estadísticas</a>
                {%endif%}
                <li><a class="dropdown-item text-grey" href="{% url 'exit' %}">Cerrar Sesión</a></li>
              </ul>
            </li>
          </ul>
          {%else%}
          <li class="nav-item">
            <b> <a class="nav-link" href="{% url 'login' %}">Mi Cuenta</a></b>
          </li>
          {% endif %}

      </div>
    </div>
    </div>
  </nav>

  {% block template %}
  {% endblock %}

  <footer class="bg-dark text-center text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-3">
          <div class="footer-content">
            <h3>Horario de Apertura</h3>
            <p>Lunes a Sábado: 10am - 8pm</p>
            <p>Domingos: Cerrado</p>
            <p>Correo electrónico: beautytimeagenda@gmail.com</p>
            <p>Dirección: Av. Las Perdices 2900 Local 33, Peñalolén, Región Metropolitana</p>
          </div>
        </div>
        <div class="col-md-6 mt-3">
          <div class="footer-content">
            <h3>Visitanos o Llámanos hoy</h3>
            <div class="subscribe-form">
              <input type="text" id="nombre" class="form-control" placeholder="Nombre"><br>
              <input type="email" id="subscribe-email" class="form-control" placeholder="Correo electrónico"><br>
              <input type="text" id="mensaje" class="form-control" placeholder="Mensaje"><br>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="{% url 'home' %}">BeautyTime.cl</a>
    </div>
  </footer>

  {% block scripts %}
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/tippy.min.js' %}"></script>
  <script src="{% static 'js/botones.js' %}"></script>
  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <a href="https://api.whatsapp.com/send?phone=+56998027818&text=Buenas,%20me%20gustaria%20obtener%20ayuda%20por favor" class="float pulse" target="_blank">
    <i class="bi bi-whatsapp my-float"></i>
  </a>
</body>

</html>