{% extends "base/base.html" %}
{% load widget_tweaks %}


{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}

{% block template %}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="text-left mt-4 name">
                    Agregar productos
                </div>
                <div>
                <form id=" " method="POST" class="p-3 mt-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                      <p>
                        {{ field.label_tag }}
                        {{ field|add_class:"form-control text-dark" }}
                        {% if field.errors %}
                          <span style="color: red">
                            {% for error in field.errors %}
                              {{ error }}
                            {% endfor %}
                          </span>
                        {% endif %}
                      </p>
                    {% endfor %}
                </div>

                <div class="buttons">
                    <div class="action_btn">    
                    <a class="btn btn-primary btn-lg" href="{% url 'inventario' %}"><i class="bi bi-arrow-left-square-fill"></i>&nbsp;&nbsp;Volver</a>  
                               
                    <button type="submit" value="Submit" class="btn btn-success">
                    <i class="bi bi-plus-square-fill"></i>&nbsp;&nbsp;Agregar
                    </button>                   
                    </div>
                </div>
                
                </div>
            </div>
        </div>
    </div> 
    







{% endblock %}


