<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 3px;
            text-align: left;
        }

        tr {
            border-bottom: 1px solid black;
            border: 1px solid black;
            ;
        }
    </style>
</head>

<body>

    {% load tz %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="logo">
                        <img src="/static/img/Beauty-Time.png" alt="Image" height="60px">
                    </div>
                    <h5 style="font-size: 25px; text-align: center;">
                        Inventario de Productos
                    </h5>


                    <p>Fecha actual: {% now "Y-m-d" %}</p>
                    <div>
                        <table style="text-align: center;">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Tipo de Producto</th>
                                    <th>Categoría</th>
                                    <th>Precio $</th>
                                    <th>Cantidad</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for i in productos %}
                                <tr>
                                    <td>{{i.nombre}}</td>
                                    <td>{{i.tipo|title}}</td>
                                    <td>{{i.categoria}}</td>
                                    <td>${{i.costo}}</td>
                                    <td>{{i.cantidad}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
</body>

</html>