{% extends "base/base.html" %}
{% load widget_tweaks %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block template %}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem; background-color: rgb(255, 255, 255) !important;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-black"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem text-color= black;">
              <img src={{user.picture.url}} alt="Avatar" class="img-fluid my-5" style="width: 150px;" />


              <h5>{{user.first_name}} {{user.last_name }}</h5>

              <button type="button"
                onclick="editarPerfil('{{user.id}}','{{user.username}}', '{{user.first_name}}', '{{user.last_name}}',  '{{user.email}}', '{{user.direccion}}' , '{{user.region}}', '{{user.comuna}}', '{{user.telefono}}', '{{user.fecha_nac}}')"
                class="btn btn-sm btn-outline-dark" data-toggle="modal" href="#EditarPerfilModal">
                <i class="bi bi-pen-fill"></i>
              </button>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Información</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Correo Electrónico</h6>
                    <p style="font-size: .9rem" class="text-muted">{{user.email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Teléfono</h6>
                    <p class="text-muted">{{user.telefono}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Dirección</h6>
                    <p class="text-muted">{{user.direccion}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Región</h6>
                    <p class="text-muted">{{user.region}}</p>
                  </div>
                </div>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Comuna</h6>
                    <p style="font-size: .9rem" class="text-muted">{{user.comuna}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Fecha de nacimiento</h6>
                    <p class="text-muted">{{user.fecha_nac}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Miembro desde </h6>
                    <p class="text-muted">{{user.date_joined}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="EditarPerfilModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-info">
          <h3 class="modal-title text-dark">Editar Perfil</h3>
        </div>
        <div class="modal-body bg-dark text-white">
          <form method="POST" action="{% url 'editarPerfil'%}" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" id="id_perfil_editar" name="id_perfil_editar">
            {% for field in form %}
            <p>{{field.label}}<br>
              {{field | add_class:"form-control"}}</p>
            {%endfor%}
        </div>
        <div class="modal-footer bg-dark text-white">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Cerrar
            <i class="bi bi-x-square-fill"></i>
          </button>
          <button type="submit" class="btn btn-success">
            Guardar
          </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}