{% extends "base/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}

{% block template %}
<section class="py-5">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-12">
                <div class="wrapper">
                    <div class="text-left mt-4 name">
                        Gestión de Usuarios
                    </div>
                    <div class="table-responsive">
                        <table class="table table-danger table-hover">
                            <br>
                            <a class="btn btn-success btn-lg" href="{% url 'agregarUsuario' %}">
                                <i class="bi bi-plus-square-fill"></i>&nbsp;&nbsp;Agregar Usuario
                            </a>
                            <br><br>
                            <thead>
                                <tr class="table-danger">
                                    <th>Tipo de Usuario</th>
                                    <th>Username</th>
                                    <th>Nombre y Apellido</th>
                                    <th>E-mail</th>
                                    <th>Dirección</th>
                                    <th>Región</th>
                                    <th>Comuna</th>
                                    <th>Teléfono</th>
                                    <th>Fecha de Nacimiento</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody class="text-danger">
                                {% for user in users %}
                                <tr class="table-danger">
                                    <td class="table-danger">{{ user.tipo_user }}</td>
                                    <td class="table-danger">{{ user.username }}</td>
                                    <td class="table-danger">{{ user.first_name }} {{ user.last_name }}</td>
                                    <td class="table-danger">{{ user.email }}</td>
                                    <td class="table-danger">{{ user.direccion }}</td>
                                    <td class="table-danger">{{ user.region }}</td>
                                    <td class="table-danger">{{ user.comuna }}</td>
                                    <td class="table-danger">{{ user.telefono }}</td>
                                    <td class="table-danger">{{ user.fecha_nac }}</td>
                                    <td>
                                        <button type="button"
                                            onclick="editarUsuario('{{ user.id }}', '{{ user.username }}', '{{ user.first_name }}', '{{ user.last_name }}', '{{ user.email }}', '{{ user.direccion }}', '{{ user.region }}', '{{ user.comuna }}', '{{ user.telefono }}', '{{ user.fecha_nac|date:'Y-m-d' }}', '{{ user.tipo_user }}')"
                                            class="btn btn-primary" data-toggle="modal" href="#EditarUsuarioModal">
                                            <i class="bi bi-pen-fill"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" onclick="eliminarUsuario('{{ user.id }}')"
                                            class="btn btn-danger" data-toggle="modal" href="#EliminarUsuarioModal">
                                            <i class="bi bi-x-square-fill"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <!-- Modal para eliminar usuario -->
                    <div id="EliminarUsuarioModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-info">
                                    <h3 class="modal-title text-danger">Eliminar Usuario</h3>
                                </div>
                                <div class="modal-body bg-danger text-white">
                                    <p class="labelmodal">¿Estás seguro de que deseas eliminar este usuario?</p>
                                    <form method="POST" action="{% url 'eliminarUsuario' %}">
                                        {% csrf_token %}
                                        <input type="hidden" id="id_usuario_eliminar" name="id_usuario_eliminar">
                                        <div class="modal-footer bg-danger">
                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal para editar usuario -->
                    <div id="EditarUsuarioModal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title text-danger">Editar Usuario</h3>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{% url 'editarUsuario' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" id="id_usuario_editar" name="id_usuario_editar">
                                        
                                        <!-- Avatar -->
                                        <label for="picture_editar">Avatar</label>
                                        <input type="file" id="picture_editar" name="picture" class="form-control" style="margin-bottom: 15px;">
                    
                                        <!-- Nombre de Usuario -->
                                        <label for="username_editar">Nombre de Usuario</label>
                                        <input type="text" id="username_editar" name="username" class="form-control" required style="margin-bottom: 10px">
                    
                                        <!-- Primer Nombre -->
                                        <label for="nombre_editar">Primer Nombre</label>
                                        <input type="text" id="nombre_editar" name="first_name" class="form-control" required style="margin-bottom: 10px">
                    
                                        <!-- Apellido -->
                                        <label for="apellido_editar">Apellido</label>
                                        <input type="text" id="apellido_editar" name="last_name" class="form-control" required style="margin-bottom: 10px">
                    
                                        <!-- Correo Electrónico -->
                                        <label for="email_editar">Correo Electrónico</label>
                                        <input type="email" id="email_editar" name="email" class="form-control" required style="margin-bottom: 10px">
                    
                                        <!-- Dirección -->
                                        <label for="direccion_editar">Dirección</label>
                                        <input type="text" id="direccion_editar" name="direccion" class="form-control" required style="margin-bottom: 10px">
                    
                                        <!-- Región -->
                                        <label for="region_editar">Región</label>
                                        <select id="region_editar" name="region" class="form-control" style="margin-bottom: 10px">
                                            {% for region in form_editar.region.field.choices %}
                                            <option value="{{ region.0 }}">{{ region.1 }}</option>
                                            {% endfor %}
                                        </select>
                    
                                        <!-- Comuna -->
                                        <label for="comuna_editar">Comuna</label>
                                        <select id="comuna_editar" name="comuna" class="form-control" style="margin-bottom: 10px">
                                            {% for comuna in form_editar.comuna.field.choices %}
                                            <option value="{{ comuna.0 }}">{{ comuna.1 }}</option>
                                            {% endfor %}
                                        </select>
                    
                                        <!-- Teléfono -->
                                        <label for="telefono_editar">Teléfono</label>
                                        <input type="tel" id="telefono_editar" name="telefono" class="form-control" required style="margin-bottom: 10px">
                    
                                        <!-- Fecha de Nacimiento -->
                                        <label for="fecha_nac">Fecha de Nacimiento</label>
                                        <input type="date" id="fecha_nac" name="fecha_nac" class="form-control" required style="margin-bottom: 10px">
                    
                                        <!-- Tipo Usuario -->
                                        <label for="tipo_user_editar">Tipo Usuario</label>
                                        <select id="tipo_user_editar" name="tipo_user" class="form-control" required style="margin-bottom: 10px">
                                            {% for tipo in form_editar.tipo_user.field.choices %}
                                            <option value="{{ tipo.0 }}">{{ tipo.1 }}</option>
                                            {% endfor %}
                                        </select>
                                        
                                        <!-- Cambiar Contraseña -->
                                        <label for="password_editar">Cambiar Contraseña</label>
                                        <input type="password" id="password_editar" name="password" class="form-control" placeholder="Dejar en blanco si no se quiere cambiar" style="margin-bottom: 15px;">
                    
                                        <button type="submit" class="btn btn-success">Guardar</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    </form>
                                    {% if form_editar.errors %}
                                        <div class="alert alert-danger">
                                            <ul>
                                                {% for field in form_editar %}
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Mostrar mensajes de éxito/error -->
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    function eliminarUsuario(userId) {
        console.log("ID del usuario a eliminar:", userId);
        document.getElementById("id_usuario_eliminar").value = userId;
    }

    function editarUsuario(id, username, first_name, last_name, email, direccion, region, comuna, telefono, fecha_nac, tipo_user) {
        document.getElementById('id_usuario_editar').value = id;
        document.getElementById('username_editar').value = username;
        document.getElementById('nombre_editar').value = first_name;
        document.getElementById('apellido_editar').value = last_name;
        document.getElementById('email_editar').value = email;
        document.getElementById('direccion_editar').value = direccion;
        document.getElementById('region_editar').value = region;
        document.getElementById('comuna_editar').value = comuna;
        document.getElementById('telefono_editar').value = telefono;
        document.getElementById('fecha_nac').value = fecha_nac;
        document.getElementById('tipo_user_editar').value = tipo_user;
    }

    document.getElementById("EliminarUsuarioModal").addEventListener("hidden.bs.modal", function () {
        document.getElementById("id_usuario_eliminar").value = "";
    });
</script>
{% endblock %}
