{% extends "base/base.html" %}
{% load widget_tweaks %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}

{% block template %}


<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-12">
            <div class="wrapper">
                <div class="text-left mt-4 name">
                    Gestión de Usuarios
                </div>
                <div class="table-responsive">
                    <table class="table table-danger table-hover">
                        <br>
                        <a class="btn btn-success btn-lg" href="{% url 'agregarUsuario' %}"><i
                                class="bi bi-plus-square-fill"></i>&nbsp;&nbsp;Agregar Usuario</a>
                        <br><br>
                        <thead>
                            <tr class="table-danger">
                                <th>Tipo de Usuario</th>
                                <th>Usuario</th>
                                <th>User Name</th>
                                <th>E-mail</th>
                                <th>Dirección</th>
                                <th>Región</th>
                                <th>Comuna</th>
                                <th>Teléfono</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody class="text-danger">
                            {% for user in users %}
                            <tr class="table-danger">
                                <td class="table-danger">{{user.tipo_user}}</td>
                                <td class="table-danger">{{user.first_name}} {{i.last_name}}</td>
                                <td class="table-danger">{{user.username}}</td>
                                <td class="table-danger">{{user.email}}</td>
                                <td class="table-danger">{{user.direccion}}</td>
                                <td class="table-danger">{{user.region}}</td>
                                <td class="table-danger">{{user.comuna}}</td>
                                <td class="table-danger">{{user.telefono}}</td>
                                <td class="table-danger">{{user.fecha_nac}}</td>
                                <td>
                                    <button type="button"
                                        onclick="editarUsuario('{{user.id}}','{{user.username}}', '{{user.first_name}}', '{{user.last_name}}',  '{{user.email}}', '{{user.direccion}}' , '{{user.region}}', '{{user.comuna}}', '{{user.telefono}}', '{{user.fecha_nac}}','{{user.tipo_user}}')"
                                        class="btn btn-primary" data-toggle="modal" href="#EditarPerfilModal">
                                        <i class="bi bi-pen-fill"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" onclick="eliminarUsuario('{{user.id}}')"
                                        class="btn btn-danger" data-toggle="modal" href="#EliminarUsuarioModal">
                                        <i class="bi bi-x-square-fill"></i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="EliminarUsuarioModal" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-info">
                                <h3 class="modal-title text-danger">Eliminar Usuario</h3>
                            </div>
                            <div class="modal-body bg-danger text-white">
                                <p class="labelmodal">Estas seguro?</p>
                                <form method="POST" action="{% url 'eliminarUsuario'%}">{% csrf_token %}
                                    <input type="hidden" id="id_usuario_eliminar" name="id_usuario_eliminar">
                            </div>
                            <div class="modal-footer bg-danger">
                                <button type="submit" class="btn btn-danger">
                                    Eliminar
                                </button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">
                                    Cerrar
                                    <i class="bi bi-x-square-fill"></i>
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="EditarPerfilModal" class="modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-info">
                                <h3 class="modal-title text-danger">Editar Usuario</h3>
                            </div>
                            <div class="modal-body bg-danger text-white">
                                <form method="POST" action="{% url 'editarUsuario'%}" enctype="multipart/form-data">{%csrf_token %}
                                    <input type="hidden" id="id_usuario_editar" name="id_usuario_editar">
                                    {% for field in form_editar %}
                                    <p>{{field.label}}<br>
                                        {{field|add_class:"form-control"}}</p>
                                    {%endfor%}
                            </div>
                            <div class="modal-footer bg-danger text-white">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">
                                    Cerrar
                                    <i class="bi bi-x-square-fill"></i> </button>
                                <button type="submit" class="btn btn-success">
                                    Guardar
                                </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}