
<div class="card-header">
  <h4>Resumen de Pedido</h4>
  <ul class="list-group list-group-flush">
      {% for item in items %}
      <li class="list-group-item"  style="background-color: rgb(249, 215, 218);">
          {{ item.cantidad }} x {{ item.producto.nombre }}
          <span class="float-right">${{ item.precio_total|floatformat:0 }}</span>
      </li>
      {% endfor %}
      <li class="font-weight-bold list-group-item" style="background-color: rgb(249, 215, 218);">Total
          <span class="float-right">${{ total_price|floatformat:0 }}</span>
      </li>
  </ul>
</div>


