{% extends "base/base.html" %}

{% block template %}
<!-- FullCalendar CSS -->
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet' />

<!-- FullCalendar JS -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>

<div class="container mt-5">
    <h2 class="text-center">Reservar una cita</h2>

    <div class="row">
        {% if not usuario_autenticado %}
            <div class="alert alert-warning">
                <p>Aún no has iniciado sesión. Puedes <a href="{% url 'login' %}">iniciar sesión</a> para guardar tu reserva en tu cuenta o <strong>reservar como visita</strong>.</p>
            </div>
        {% endif %}
        <!-- Notificaciones -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {# Mostrar errores específicos de campos #}
                {% for field, errors in form.errors.items %}
                    {% if field not in form.non_field_errors %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        


        <!-- Formulario a la izquierda -->
        <div class="col-md-4" id="form-container" style="margin-bottom: 40px;">
            <form id="reservation-form" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.nombre.label_tag }} 
                    <!--{{ form.nombre }}-->
                    <input type="text" name="nombre" class="form-control" value="{{ user.first_name }} {{ user.last_name }}" {% if not usuario_autenticado %}required{% endif %}>
                </div>
                <div class="mb-3">
                    {{ form.email.label_tag }}
                    <!--{{ form.email }}-->
                    <input type="email" name="email" class="form-control" value="{{ user.email }}" {% if not usuario_autenticado %}required{% endif %}>
                </div>
                <div class="mb-3">
                    {{ form.contacto.label_tag }}
                    <!--{{ form.contacto }}-->
                    <input type="text" name="contacto" class="form-control" value="{{ user.telefono }}" {% if not usuario_autenticado %}required{% endif %}>
                </div>
                <div class="mb-3">
                    <label for="categoria">Categoría</label>
                    <select id="categoria" name="categoria" class="form-control">
                    </select>
                </div>
                <div class="mb-3">
                    <label for="servicio">Servicio</label>
                    <select id="servicio" name="servicio" class="form-control">
                    </select>
                </div>
                <div class="mb-3">
                    <label for="selected-date">Fecha seleccionada</label>
                    <input type="text" id="selected-date" name="fecha" readonly class="form-control">
                </div>
                <div class="mb-3">
                    <label for="selected-time">Hora seleccionada</label>
                    <input type="text" id="selected-time" name="hora" readonly class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Reservar</button>
            </form>
        </div>

        <!-- Calendario a la derecha -->
        <div class="col-md-8" id="calendar-container">
            <div id="calendar"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var categoriaSelect = document.getElementById('categoria');
        var servicioSelect = document.getElementById('servicio');
        var fechaInput = document.getElementById('selected-date');
        var horaInput = document.getElementById('selected-time');
    
        // Cargar categorías al cargar la página
        fetch('/obtener_categorias/')
        .then(response => response.json())
        .then(data => {
            // Cargar las categorías y seleccionar la primera por defecto
            data.categorias.forEach(categoria => {
                var option = document.createElement('option');
                option.value = categoria.id;
                option.text = categoria.nombre;
                categoriaSelect.appendChild(option);
            });
            // Cargar el calendario con la primera categoría por defecto
            if (data.categorias.length > 0) {
                var primeraCategoria = data.categorias[0].id;
                cargarCalendarioConReservas(primeraCategoria);  // Cargar las reservas de la primera categoría
                cargarServiciosPorCategoria(primeraCategoria);  // Cargar los servicios de la primera categoría
            }
        });
    
        // Función para cargar los servicios según la categoría seleccionada
        function cargarServiciosPorCategoria(categoria) {
            fetch('/obtener_servicios/?categoria_id=' + categoria)
            .then(response => response.json())
            .then(data => {
                servicioSelect.innerHTML = ''; // Limpiar opciones anteriores
                data.servicios.forEach(function(servicio) {
                    var option = document.createElement('option');
                    option.value = servicio.id;
                    option.text = servicio.nombre;
                    servicioSelect.add(option);
                });
            }).catch(err => console.log('Error al cargar servicios:', err));
        }
    
        // Función para cargar el calendario con las reservas filtradas por categoría
        function cargarCalendarioConReservas(categoria) {
            fetch('/obtener_reservas/?contexto=reservar&categoria=' + categoria)  // Pasar el contexto de reserva
            .then(response => response.json())
            .then(data => {
                var events = data.reservas.map(reserva => {
                    if (reserva.estado === 'bloqueado') {
                        return {
                            title: 'NO DISPONIBLE',
                            start: reserva.fecha_inicio,
                            end: reserva.fecha_fin,
                            color: 'gray',
                            displayEventTime: false
                        };
                    } else {
                        return {
                            title: 'RESERVADO: ' + reserva.servicio,
                            start: reserva.fecha_inicio,
                            end: reserva.fecha_fin,
                            color: 'red',
                            displayEventTime: false
                        };
                    }
                });
        
                var calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
                    locale: 'es',
                    initialView: 'timeGridWeek',
                    firstDay: 1,
                    slotDuration: '01:00:00',
                    allDaySlot: false,
                    expandRows: true,
                    height: 'auto',
                    businessHours: [
                        {
                            daysOfWeek: [1, 2, 3, 4, 5, 6], // Lunes a Sábado
                            startTime: '10:00',
                            endTime: '20:00'
                        },
                    ],
                    slotMinTime: '10:00:00',
                    slotMaxTime: '20:00:00',
                    scrollTime: '10:00:00',
                    events: events,
                    selectable: true,
                    validRange: {
                        start: new Date().toISOString().split('T')[0],
                    },
                    selectConstraint: 'businessHours',
                    select: function(info) {
                        var now = new Date();
                        var selectedDateTime = new Date(info.start);
        
                        if (selectedDateTime >= now) {
                            fechaInput.value = info.startStr.split("T")[0];
                            horaInput.value = info.startStr.split("T")[1].substring(0, 5);
                        } else {
                            alert("No puedes agendar una cita en una fecha u hora pasada.");
                        }
                    },
                    displayEventTime: false,
                    eventContent: function(arg) {
                        return { html: `<div style="font-weight: bold;">${arg.event.title}</div>` };
                    }
                });
        
                calendar.render();
            }).catch(err => console.log('Error al cargar reservas:', err));
        }
        
    
        // Escuchar cambios en la selección de categoría
        categoriaSelect.addEventListener('change', function() {
            var categoria = this.value;
            if (categoria) {
                cargarServiciosPorCategoria(categoria);  // Cargar los servicios de la categoría seleccionada
                cargarCalendarioConReservas(categoria);  // Cargar el calendario filtrado por la categoría seleccionada
            }
        });

    });    
</script>
{% endblock %}
