{% extends "base/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/catalogo.css' %}">

{% endblock %}

{% block template %}
<main>
  <h1 class="card borders page-title">PRODUCTOS</h1>
  <section class="card-container">
    {% for producto in productos %}
    <article class="card">
      <div class="card-title">
        <h3 class="product-title">{{producto.nombre}}</h3>
      </div>
      <div class="image-container">
        <a title="verDetalle" href="{% url 'verDetalle' tipo='producto' id=producto.id %}">
          <img src="{{ producto.picture.url }}" alt="{{ producto.nombre }}">
        </a>
      </div>
      <br>
      <strong>Descripción</strong><br>
      <div class="card-content">
        <p>{{ producto.descripcion|truncatechars:100 }}</p>
        {% if producto.descuento %}
        <h5>
          <strong>Precio</strong> 
          <span style="text-decoration: line-through; color:grey">${{ producto.costo }}</span>&nbsp;${{ producto.costo2}}
        </h5>
          <strong class="text-success">{{ producto.descuento|floatformat:0}}% de descuento</strong>
        {% else %}
        <h5>
          <strong>Precio</strong> ${{ producto.costo }}
        </h5>
        {% endif %}      </div>
       <form method="post" action="{% url 'add' producto.id %}">
        {% csrf_token %}
        <input type="hidden" name="cantidad" class="form-control" required="" id="id_cantidad" value="1">
        <a class="add-to-cart" href="#" onClick="javascript:this.parentNode.submit()">
          <i class="bi bi-bag-fill"></i>&nbsp;Añadir al Carrito
        </a>
      </form> 
    </article>
    {% endfor %}
  </section>
</main>
{% endblock %}
