{% extends "base/base.html" %}
{% load static %}
{% block template %}
<link rel="stylesheet" href="{% static 'css/atencioncliente.css' %}">

<link rel="stylesheet" href="{% static 'css/catalogo.css' %}">
<main>
  <h1 class="card borders page-title">SERVICIOS</h1>
  <section class="card-container">
    {% for servicio in servicios %}
    <article class="card">
      <div class="card-title">
        <h3 class="product-title">{{servicio.nombre}}</h3>
      </div>
      <div class="image-container">
        <a title="verDetalle" href="{% url 'verDetalle' tipo='servicio' id=servicio.id %}">
          <img src="{{ servicio.picture.url }}" alt="{{ servicio.nombre }}">
        </a>
      </div>
      <br>
      <strong>Descripción</strong><br>
      <div class="card-content">
        <p>{{ servicio.descripcion|truncatechars:100 }}</p>
        <h5> <strong>Precio</strong> ${{servicio.costo}}</h5>
      </div>
        <a class="book_service" href="{% url 'reservar_cita' %}" >
          <i class="bi bi-journal-bookmark-fill"></i>&nbsp;Reservar Cita
        </a>
    </article>
    {% endfor %}
  </section>
</main>
{% endblock %}
