{% extends "base/base.html" %}
{% load static %}
{% block template %}
<link rel="stylesheet" href="{% static 'css/catalogo.css' %}">

<div class="container h-100" style="padding-top:5%;">
  <div class="row d-flex justify-content-center align-items-center h-500 rounded" style="margin-bottom:20%;">
    <div class="d-flex justify-content-center align-items-center">
      <div class="card mb-3" style="max-width: 1800px; margin-top:20px; background-color: rgba(255, 255, 255, 0); border: #ced4da00;">
        <div class="row g-0">
          {% if tipo == 'producto' %}
          <div class="col-md-4">
            <img src="{{ item.picture.url }}" class="img-fluid rounded-start" alt="{{ item.nombre }}" style="width:100%; height:auto;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3>{{ item.nombre }}</h3>
              <strong>Descripción</strong><br>
              <p style="text-align: justify;">{{ item.descripcion }}</p>
              <h5><strong>Precio</strong> ${{ item.costo }}</h5>
              <form method="post" action="{% url 'add' item.id %}">
                {% csrf_token %}
                <div class="d-flex flex-column align-items-start">
                  <div class="input-group input-group-sm mb-3">
                    <button type="button" class="btn btn-primary" onclick="decrementarCantidad(this)">-</button>
                    <input type="number" name="cantidad" class="custom-width" required id="id_cantidad" value="1" min="1">
                    <button type="button" class="btn btn-primary" onclick="incrementarCantidad(this)">+</button>
                  </div>
                  <button class="btn btn-success btn-add" type="submit">
                    <i class="bi bi-bag-fill" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="light-border"></i>&nbsp;Añadir al Carrito
                  </button>
                </div>
              </form> 
            </div>
          </div>
          {% elif tipo == 'servicio' %}
          <div class="col-md-4">
            <img src="{{ item.picture.url }}" class="img-fluid rounded-start" alt="{{ item.nombre }}" style="width:100%; height:auto;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3>{{ item.nombre }}</h3>
              <strong>Descripción</strong><br>
              <p style="text-align: justify;">{{ item.descripcion }}</p>
              <h5><strong>Precio</strong> ${{ item.costo }}</h5>
                <a class="book_service" href="{% url 'reservar_cita' %}" >
                  <i class="bi bi-journal-bookmark-fill"></i>&nbsp;Reservar Cita
                </a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .custom-width {
    width: 55px;
    height: 32px;
    padding: 7px 12px;
    border-radius: 4px;
    border: 1px solid #ced4da;
  }
  .input-group-sm {
    display: flex;
    align-items: center;
  }
  .card {
    border: none !important; 
    box-shadow: none !important; 
    background-color: transparent; 
  }
</style>

<script src="{% static 'js/botones.js' %}"></script>

{% endblock %}
