asgiref
certifi
charset-normalizer
crispy-bootstrap5
Django
django-crispy-forms
django-model-utils
django-rest-authtoken
django-widget-tweaks
djangorestframework
idna
pillow
requests
sqlparse
urllib3
xhtml2pdf
transbank-sdk